.node--question{
  @extend .no-animation;
  display:none;
}

.page-faqs {
  .panel-panel.unit.left {
    .pane-title {
      display: block;
      background: $primary;
      padding: 8px;
      cursor: pointer;
      color: $white;
    }
  }
} 