
.container-auto{
    width:$container-width;
    margin-left:auto;
    margin-right:auto;
}

.text-as-link{
    color:$text-as-link;
    font-weight:700;
    text-decoration:none;
    &:hover{
        color:$text-as-link-hover;
        text-decoration:none;
    }
}


.fa-icon{
    position:absolute;
    top:12px;
    left:5px;
    font-size:20px;
    font-family: FontAwesome;   
}

.margin-top{
    margin-top:40px;
}