//MAIN Menu wrapping dimension settings
$mainMenuHeight: 45px;
$mainMenuMargin : 0;
$mainMenuPadding: $menuBlockPadding;
$main-menu-background: $idiBlue;

//Drop down dimensions
$dropDownWidth: 200px;
$dropDownWidthLvlTwo: $dropDownWidth;
$dropDownWidthLvlThree: $dropDownWidthLvlTwo;

//Style 1st level (sets defaults for others)
$main-men-item-background: $main-menu-background;
$main-menu-background-hover: $primary-hover-color;
$mainMenuItemActiveBackground : $idiGreen;
$main-menu-item-color: $white;
$main-menu-item-hover-color: $idiBlue;
$mainMenuItemHoverColor : $primary-hover-color;
$mainMenuItemActiveColor : $mainMenuItemHoverColor;
$mainMenuItemBorder: 1px solid #FFF;
$mainMenuItemPadding: 0 15px;
$mainMenuItemFont: normal #{em(16)}/#{$mainMenuHeight} $master-font;



//Menu Blocks style
#block-system-main-menu{
//  min-height: $mainMenuHeight;
  margin: $mainMenuMargin;
  padding: $mainMenuPadding;
  background: $main-menu-background;
  display: none;
  @extend .no-animation;
  height: auto;
  @include breakpoint($tab){
  display: block;
  }

  .block__title{
  display:none;
}
}


#block-system-main-menu ul li.first.leaf{
  .fa{
    font-size: 25px;
      vertical-align: middle;
  }
   span{
  display:none;
  }
}


.block--system-main-menu{
  @extend .horizontal-block; //Extends for layout
  //@include clearfix;
  //overflow:visible; //Clearfix ads overflow hidden and we can't have that
  height:$mainMenuHeight;
  //FIRST LEVEL
  ul{
    li{
      width:100%;
      @include breakpoint($tab){
      width:auto;
      }
      a{
        height:$mainMenuHeight;
        font:$mainMenuItemFont;
        color: $main-menu-item-color;
        background:$main-men-item-background;
        padding:$mainMenuItemPadding;
        z-index:0;
        width:100%;
        border-bottom: $mainMenuItemBorder;
        @include breakpoint($tab){
        border-bottom: none;
        }
        &:hover{
          color: $main-menu-item-hover-color;
          background:$main-menu-background-hover;
        }
        &.active{
          background-color:$main-menu-background-hover;
          color:$main-menu-item-hover-color;
        }
      }
    }
  }
}

  //Burger styling
  #main-menu-burger{
      @include reset-container-spacing;
      font: $mainMenuItemFont;
      display:block;
      float:left;
      line-height:31px;
      color: $primary-text;
      width:100%;
      padding-left:5px;
      @extend .no-animation;
      &:hover{
          color:$primary-text-hover;
          background:$main-menu-background-hover;
      }
      &.active{
      }
      @include breakpoint($tab){
           display:none;
        }
      }
