//Default Panel Styling

//Whenever you create a new static panel it should get a new partial


.panels-ipe-startedit.panels-ipe-pseudobutton, .panels-ipe-change-layout.panels-ipe-pseudobutton{
  line-height: 3em;
}



h2.pane-title{
  margin-top:0;
}

.bryant-flipped-sidebar{}